{{ with .Site.Data.sponsor}}
{{ if .enable}}
<section class="partner" id="sponsor">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <h2>{{ .title }}</h2>
        </div>
      </div>
    </div>
    <div class="row">
      {{ range .partner}}
      <div class="col-lg-3">
        <div class="member-informashion">
          <a href="{{ .link }}" target="BLANK">
            <div class="member-thume">
              <img src="{{ .image | absURL }}" alt="image">
            </div>
            <h3>{{.name}}</h3>
          </a>
        </div>
      </div>
      {{end}}
    </div>
  </div>
</section>
{{end}}
{{end}}
